/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/



@font-face {
    font-display: swap; 
    font-family: 'Plus Jakarta Sans';
    font-weight: 400;
    src: url('./fonts/plus-jakarta-sans-v7-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('./fonts/plus-jakarta-sans-v7-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  @font-face {
    font-display: swap; 
    font-family: 'Plus Jakarta Sans';
    font-weight: 500;
    src: url('./fonts/plus-jakarta-sans-v7-latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('./fonts/plus-jakarta-sans-v7-latin-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  @font-face {
    font-display: swap; 
    font-family: 'Plus Jakarta Sans';
    font-weight: 600;
    src: url('./fonts/plus-jakarta-sans-v7-latin-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('./fonts/plus-jakarta-sans-v7-latin-600.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  @font-face {
    font-display: swap; 
    font-family: 'Plus Jakarta Sans';
    font-weight: 700;
    src: url('./fonts/plus-jakarta-sans-v7-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('./fonts/plus-jakarta-sans-v7-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }


* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    font-family:  "Plus Jakarta Sans", sans-serif;
    margin: 0;
    overflow-x: hidden;
}

.site-main {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

.container {
    max-width: 1260px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.site-header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}


.site-header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.nav__link--active:hover {
    color: #1aab7b;
}

.nav__link--active:active {
    opacity: 0.6;
}

.logo-link {
    display: inline-block;
    margin-top: 30px;
    margin-right: 50px;
    margin-bottom: 31px;
}

.site-logo-link:hover {
   opacity: 0.8;
}

.site-logo-link:active {
    opacity: 0.6;
}

.nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
    margin-top: 32px;
    margin-right: auto;
    margin-bottom: 33px;
    padding-left: 0;
}

.nav__items {
    margin-top: 32px;
    margin-right: 30px;
    margin-bottom: 33px;
}

.nav__link {
    font-weight: 500;
    line-height: 150%;
    color: #101010;
    text-decoration: none;
    -webkit-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease;
}

.nav__link:hover {
    color: #1aab7b;
}

.nav__link:active {
    opacity: 0.6;
}

.site-header__link-number {
    font-weight: bold;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    text-decoration: none;
    list-style: none;
    color: #fff;
    background-color: black;
    padding: 12px 24px;
    border-radius: 6px;
    -webkit-transition: border 0.5s ease, background-color 0.5s ease, color 0.5s ease;
    -o-transition: border 0.5s ease, background-color 0.5s ease, color 0.5s ease;
    transition: border 0.5s ease, background-color 0.5s ease, color 0.5s ease;
}

.site-header__link-number:hover {
    color:  #1aab7b;
    background-color: #fff;
    border: 1px solid #1aab7b;
}

.site-header__link-number:active {
    color: #fff;
    background-color: #101010;
    opacity: 0.6;
}

/*    Hero section   */

.hero {
    padding-top: 91px;
    padding-bottom: 156px;
}

.hero__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.hero__inner {
    width: 550px;
    margin-right: 74px;
}

.hero__title {
    font-size: 56px;
    line-height: 140%;
    font-weight: 700;
    color: #101010;
    margin-top: 0;
    margin-bottom: 20px;
}

.hero__text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color:  #636f87;
    margin-top: 0;
    margin-bottom: 40px;
}

.hero__link {
    display: inline-block;
    line-height: 120%;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    list-style: none;
    color: #fff;
    background-color:  #1AAB7B;
    padding: 20px 40px;
    border-radius: 6px;
}

.hero__link:hover {
    background: #fff;
    border: 1.5px solid #1aab7b;
    border-radius: 6px;
    color: #1aab7b;
}

.hero__link:active {
    background: #1aab7b;
    opacity: 0.7;
    border-radius: 6px;
    color: #fff;
}

.hero__img {
    border-radius: 6px;
}

   /*   Services section   */

.services {
    background-color: #f2f4f6;
    margin-bottom: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.services__heading {
    font-weight: 600;
    font-size: 36px;
    line-height: 140%;
    text-align: center;
    color:  #101010;
    margin-bottom: 40px;
}

.services__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.services__items {
    width: 360px;
    height: 358px;
    border: 2px solid #e1e7ed;
    border-radius: 6px;
    margin-right: 32px;
    margin-bottom: 32px;
    padding: 40px 30px;
    -webkit-transition: background-color 0.5s ease, color 0.5s ease;
    -o-transition: background-color 0.5s ease, color 0.5s ease;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.services__items:nth-child(3) {
    margin-right: 0;
}

.services__items:last-child {
    margin-right: 0;
}

.services__items:hover {
    background-color: #fff;
}

.services__items:active {
    background-color: #1aab7b;
    border-radius: 6px;
    color: #fff;
}


.services__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 140%;
    color: #101010;
    margin-top: 0;
    margin-bottom: 20px;
}


.services__text {
    font-size: 18px;
    line-height: 150%;
    color: #636f87;
    margin-top: 0;
    margin-bottom: 50px;
}

.services__link {
    display: inline-block;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: #000;
    text-decoration: none;
}

    /*   About section   */


.about {
    background-color: #fff;
    padding-bottom: 150px;
}

.about__textbox {
    width: 650px;
    margin: 0 auto;
    margin-bottom: 90px;
} 

.about__heading {
    font-weight: 600;
    font-size: 36px;
    line-height: 140%;
    text-align: center;
    margin: 0;
    margin-bottom: 16px;
    color: #101010;
}

.about__main-text {
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #636f87;
    margin: 0;
}

.about__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.about__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 100px;
}

.about__items--middle {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
   
}

.about__items--last {
    margin-bottom: 0;
}

.about__img {
    margin-right: 32px;
}

.about__img--middle {
    margin-right: 0;
    margin-left: 32px;
}

.about__mini-wrapper {
    width: 488px;
}

.about__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 140%;
    color:  #101010;
    margin-top: 0;
    margin-bottom: 20px;
}

.about__text {
    font-family: "Plus Jakarta Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 150%;
    color:  #636f87;
    margin: 0;
}


      /*     Article and Form          */


.site-article {
    margin-bottom: 200px;
}

.site-article__textbox {
    width: 580px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 60px;
}

.site-article__title {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 36px;
    line-height: 140%;
    font-weight: 700;
    text-align: center;
    color: #101010;
}

.site-article__text {
    margin-top: 0;
    margin-bottom: 60px;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #636f87;
}

.form {
    width: 1008px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    padding-top: 54px;
    padding-right: 312px;
    padding-bottom: 64px;
    padding-left: 312px;
    background-color: #f2f4f6;
    border-radius: 6px;
}

.form__label {
    padding-bottom: 21px;
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
    color: #101010;
    border: none;
}

.form__input {
    margin-bottom: 51px;
    border: none;
}

.form__input:last-child {
    margin-bottom: 0;
}

.form__button {
    width: 180px;
    margin-bottom: 24px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px 60px;
    line-height: 120%;
    font-weight: 700;
    text-align: center;
    color: #fff;
    background-color: #1aab7b;
    border-radius: 6px;
    -webkit-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
}

.form__button:hover {
    background-color: #fff;
    color: #1aab7b;
}

.form__button:active {
    opacity: 0.8;
}

.form__important {
    line-height: 150%;
    text-align: center;
    color: #858ea2; 
}

     /*     Footer    */

.site-footer {
    padding: 100px 112px;
    background-color: #101010;
}     

.footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.footer__list--initial {
    margin-right: 151px;
}

.footer__list--middle {
    margin-right: 470px;
}

.footer__title {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
    color: #fff;
}

.footer__link {
    margin-bottom: 26px;
    display: inline-block;
    font-size: 18px;
    line-height: 150%;
    font-weight: 500;
    text-decoration: none;
    color: #a1abb7;
    -webkit-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease;
}

.footer__link:nth-child(2) {
    width: 161px;
}

.footer__link--location {
    width: 280px;
    font-style: normal;
}

.footer__link:hover {
    color: #1aab7b;
}

.footer__link:active {
    opacity: 0.8;
}

.footer__socials-link:first-child {
    margin-right: 46px;
}

.footer__socials-link:nth-child(2) {
    margin-right: 46px;
}

.footer__socials-link:nth-child(3) {
    margin-right: 40px;
}



